#contents {
    width: 1000px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

.mem-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mem-list li {
    padding: 0;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.mem-list li img {
    width: 250px;
    margin: 0;
    padding: 0;
    float:left;
}

.profile h2 {
    margin-top: 50px;
}

